<nav class="navbar-container p-[20px] flex items-center justify-between bg-[]">
  <div class="navbar-menu">
    <!-- <h1 class="logo text-white ">Style</h1> -->
  </div>
  <div class="menu text-yellow-500 flex items-center gap-3">
    <div class="relative">
      <!-- Input field with search icon inside -->
      <input class="bg-[#f3f3f3] px-[18px] py-[8px] pl-[40px] border border-gray-300 focus:outline-none rounded-[28px]" type="text" placeholder="search">
      <i class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
    </div>
  </div>
</nav>

    
        <!-- <i class="fa-solid fa-user"></i> -->
        <!-- <a routerLink="/" class="nav-link text-white">Profile</a> -->
        <!-- <i class="fa-solid fa-cart-shopping"></i> -->
        <!-- <a routerLink="/" class="nav-link text-white">Cart</a> -->
        <!-- <button class="logout-btn">Logout</button> -->
     
  
   


  







  