<div class="contact-container">

    <div class="contact-info">

        <div class="image-container">
            <h1 class="image-heading">Contact Us</h1>
            <img src="assets/contact.webp" alt="Contact Us Image">
        </div>

        <div class="contact-grid">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.3840441023376!2d76.70235017525333!3d30.707602174596378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fef90ed766697%3A0xf41e185cad10b37!2sCDAC%20Main%20Gate!5e0!3m2!1sen!2sin!4v1730113127156!5m2!1sen!2sin" 
                        width="100%" 
                        height="450" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

            <!-- Contact Form Section -->
            <div class="contact">
                <h1>Contact Form</h1>

                <div>
                    <span class="input-span">Your name*</span>
                    <br>
                    <input class="contact-input focus:outline-none" type="text" placeholder="">
                </div>

                <div>
                    <span class="input-span">Your email address*</span>
                    <br>
                    <input class="contact-input focus:outline-none" type="email" placeholder="">
                </div>

                <div>
                    <span class="input-span">Subject*</span>
                    <br>
                    <input class="contact-input focus:outline-none" type="text" placeholder="">
                </div>

                <div>
                    <span class="input-span">Comment*</span>
                    <br>
                    <textarea class="contact-input focus:outline-none text-[#495057]"></textarea>
                </div>

                <button class="contact-bg">Send Message</button>
            </div>
        </div>
    </div>
</div>
