<!-- Form starts here -->
<form class="signIn-container bg-[aliceblue]" [formGroup]="signInForm" (ngSubmit)="signInUser()">
  <h1 class="text-center">Sign In</h1>

  <!-- Radio buttons to select user type (Customer or Seller) -->
  <div class="user-type-selection flex justify-center mb-4">
    <label class="mr-4">
      <input type="radio" formControlName="roleId" value="2" class="mr-2" name="roleId" />
      Customer
    </label>
    <label>
      <input type="radio" formControlName="roleId" value="3" class="mr-2" name="roleId" />
      Seller
    </label>
  </div>

  <!-- Email Field -->
  <div class="email">
    <label for="email">Email</label><br />
    <input id="email" formControlName="email" class="signIn-input focus:outline-none" type="text" placeholder="Enter Email" />
    <span *ngIf="email?.invalid && email?.touched" class="text-red-500">The email field is required</span>
  </div>

  <!-- Password Field -->
  <div>
    <label for="password">Password</label><br />
    <input id="password" formControlName="password" class="signIn-input focus:outline-none" type="password" placeholder="Enter Password" />
    <span *ngIf="password?.invalid && password?.touched" class="text-red-500">The password field is required</span>
  </div>

  <!-- Submit Button -->
  <div class="username mt-[30px]">
    <button type="submit" class="btn-signIn bg-[#E03C31] text-white">Log in</button>
  </div>
</form>
