

<div class="bg-[#003366]">
    <div class="bg-[#003366] w-full max-w-[1280px] mx-auto">
      <div class="contact-container text-white">
        <div class="footer-section">
          <!-- <img
            class="w-1/4" 
            src="https://www.techsquare.co.nz/_next/static/media/Web_logo.24ddbced.png"
            alt="Company Logo"
          /> -->
          <div class="phone-info">
            <i class="fa-solid fa-phone"></i>
            <p>+64 211172680</p>
          </div>
          <div class="email-info">
            <i class="fa-solid fa-envelope"></i>
            <p>sportsmart &#64;sportsmart.co.nz</p>
          </div>
          <div class="working-hours">
            <p>Mon to Fri: (9 am to 6 pm)</p>
            <p>Sat: (12 pm to 4 pm)</p>
            <p>Sun: Closed</p>
          </div>
        </div>
    
        <div class="company-info">
          <h1 class="text-lg font-bold">Company</h1>
          <p>About us</p>
          <p>Contact</p>
          <p>Exchange & Return Policy</p>
          <p>Track Order</p>
        </div>
    
        <div class="company-info">
          <h1 class="text-lg font-bold">Services</h1>
          <p>Custom Fitting</p>
          <p>Equipment Repair</p>
          <p>Product Recommendations</p>
          <p>Bulk Orders</p>
        </div>
    
        <div class="location-info">
          <i class="fa-solid fa-location-dot"></i>
          <p>161B Great South Road, Manurewa, Auckland 2102</p>
        </div>
      </div>
    </div>
    </div>