<div class="video-container relative">
  <video autoplay muted loop id="background-video" playsinline>
    <source src="assets/video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <button class="video-btn">SHOP NOW</button>
</div>


<app-about></app-about>
 <app-contactus></app-contactus>
 

<!-- 4 -->

<div class="">
  <div class="">
    <h1>Shop by Categories</h1>
    <p>Must-have pieces selected every month</p>
  </div>

  <div class="right">
    <div class="">
      <img src="">
      <p>Rockets</p>
    </div>
  </div>
</div>

<!-- 5 -->

<div class="explore-container">
  <h1 class="text-center">EXPLORE BY ACTIVITY</h1>

  <div class="card-container grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="card" *ngFor="let card of cards">
      <img [src]="card.image" alt="{{ card.title }}" />
      <h2 class="card-title">{{ card.title }}</h2>
    </div>
  </div>
</div>



