<nav class="navbar-container ">
  <div class="navbar-menu">
    <div class="logo">
      <h1>Style</h1>
    </div>

    <div class="menu">
      <a href="#">Home</a>
      <a href="#">Products</a>
      <a href="#">About</a>
      <a href="#">Contact Us</a>
      <a class="menu-btn" href="#">Login</a>
      <a class="menu-btn" href="#">Sign Up</a>
    </div>
  </div>
</nav>

<!-- Video Section -->
<div class="video-container relative">
  <video autoplay muted loop id="background-video" playsinline>
    <source src="assets/video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <button class="video-btn">SHOP NOW</button>
</div>



<!-- 3 -->
 <div class="pitch-container">
 <div class="pitch">
  <img class="w-[50%]" src="https://www.niviasports.com/cdn/shop/files/Rule_The_Court-10oct24.png?v=1728547107&width=800">
  <img class="w-[50%]" src="https://www.niviasports.com/cdn/shop/files/DOMINATE_THE_PITCH-10oct24.png?v=1728547107&width=800">
 </div>
</div>


<!-- 4 -->


<div class="">
  <div class="left-seller">
<h1>Best Sellers</h1>
<p>Sports Gear, Footwear & Accessories</p>
<button>EXPLORE ALL</button>
  </div>

<div class="right-seller">
<div class="seller-card">
  <img src="">
  <h1>Nivia Safari Football Studs</h1>
  <p>₹11,99 8% Off</p>
</div>
</div>

</div>