<nav class="navbar-container bg-black text-white shadow-md px-6 w-full">
  <div class="navbar-menu flex items-center justify-between max-w-screen-xl mx-auto">
    <h1 class="logo text-2xl font-bold text-yellow-500">Style</h1>

    <div class="menu flex items-center gap-6">
      <i class="fa-solid fa-user text-white text-xl"></i>
      <i class="fa-solid fa-cart-shopping text-white text-xl"></i>
      <button (click)="onLogout()" class="logout-btn bg-yellow-500 text-black py-2 px-4 rounded-lg hover:bg-yellow-600 focus:outline-none transition duration-300">Logout</button>
    </div>
  </div>  
</nav>
