<aside class="sidebar flex items-center justify-center">
    <!-- <div class="sidebar-header">
      <h3>Customer Panel</h3>
    </div> -->
    <ul class="sidebar-nav flex items-center justify-center flex-col gap-4 text-[18px] font-semibold">
    
      <li><a routerLink="/customer/orders" routerLinkActive="active">My Orders</a></li>
      <!-- <li><a routerLink="/customer/favorites" routerLinkActive="active">Favorites</a></li> -->
      <li><a routerLink="/customer/profile" routerLinkActive="active">Profile Settings</a></li>  
      <li><a routerLink="/customer/profile" routerLinkActive="active">Chats</a></li>  

    
      <!-- <li><a (click)="logout()">Logout</a></li> -->
    </ul>
  </aside>
  