<!-- <app-customer-header></app-customer-header> -->

<!-- Parent container using Flexbox for layout -->
<div class="flex min-h-screen">

  <!-- Sidebar section (fixed on the left) -->
  <aside class="sidebar w-[15%] h-[507px] bg-white text-gray-800 p-5 shadow-md border-r border-gray-300">
    <ul class="sidebar-nav space-y-4 w-full">
      <!-- Sidebar Links with routing -->
      <li>
        <a 
          routerLink="/seller/seller-products" 
          routerLinkActive="active" 
          class="no-underline whitespace-nowrap"
        >Manage Products</a>
      </li>
      <li>
        <a 
          routerLink="/seller/seller-info" 
          routerLinkActive="active" 
          class="no-underline whitespace-nowrap"
        >My Info</a>
      </li>
      <li>
        <a 
          routerLink="/seller/seller-orders" 
          routerLinkActive="active" 
          class="no-underline whitespace-nowrap"
        >Manage Orders</a>
      </li>
      <li>
        <a 
          routerLink="/seller/seller-feedbacks" 
          routerLinkActive="active" 
          class="no-underline whitespace-nowrap"
        >Support</a>
      </li>
    </ul>
  </aside>
  

  <!-- Main Content area (right side, scrollable if needed) -->
  <div class="w-full p-5">
    <router-outlet></router-outlet>
  </div>

</div>

<!-- <app-customer-footer></app-customer-footer> -->
