<!-- main navbar -->
<nav class="navbar-container">
  <div class="navbar-menu">
    <div class="logo">
      <h1>Style</h1>
    </div>

    <div class="menu">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contactus">Contact Us</a>
      <a class="menu-btn" routerLink="/signup">Sign Up</a>
      <a class="menu-btn" routerLink="/signIn">Sign In</a>
      <!-- <a class="menu-btn" routerLink="/signin">Sign In</a> -->


      
    </div>
    
  </div>
</nav>
